.modal {
    position: relative;
    top: 45%;
    left: 15%;
    width: 70%;
    height: 20%;

    display: flex;
    background: var(--color-grey);
    border-radius: var(--borderRad-big);
    border: 1px solid var(--color-red);
    box-shadow: var(--boxShadow-general);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-1);

    h2 {
        width: 100%;
        text-align: center;
        color: var(--color-white);
    }
    aside {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    
}