.btn-main {
    display: grid;
    width: 80vw;
    height: 4rem;
    grid-template-columns: 70% 15% 15%;
    align-items: center;
    padding: var(--space-05);

    .btn-text {
        text-align: left;
        display: inline-block;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}