.homepage, .slumparen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-1);
    z-index: 1;
}
.menu {
    margin-top: 12rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-1);
    z-index: 1;
}
.addBtn {
    position: fixed;
    bottom: var(--space-05);
    right: var(--space-05);
    z-index: 1;

    button {
        width: 6rem;
        height: 6rem;
        background-color: var(--color-pink);
        border-radius: var(--borderRad-big);
        box-shadow: var(--boxShadow-general);
        border: none;
        color: var(--color-black);
    }
}