.homepage, .slumparen {
    display: grid;
    place-content: center;
    gap: var(--space-1);
    z-index: 1;
}
.menu {
    margin-top: 8rem;
    margin-bottom: 8rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-1);
    z-index: 1;
}
.calendar {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    top: 10%;
    position: absolute;
}

.calendar-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: var(--space-1);
        color: var(--color-white);

        article {
            display: flex;
            justify-content: space-between;
            width: 100%;
            border-bottom: 1px solid var(--color-pink);
            
            h4, p {
            color: var(--color-white);
            }
            p {
            font-style: italic;
            }
        }
}

.addBtn {
    position: fixed;
    bottom: var(--space-05);
    right: var(--space-05);
    z-index: 1;

    button {
        width: 4rem;
        height: 4rem;
        background-color: var(--color-pink);
        border-radius: var(--borderRad-big);
        box-shadow: var(--boxShadow-general);
        border: none;
        color: var(--color-black);
    }
}