.dateModal {
    z-index: 10;
    background-color: var(--color-white);
    border-radius: var(--borderRad-big);
    border: 1px solid var(--color-grey50);
    box-shadow: var(--boxShadow-general);

    width: 90%;
    height: 80%;
    position: fixed;
    padding: var(--space-1);
    top: 10%;
    left: 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: var(--space-05);
}