* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-header: "Irish Grover", system-ui;
  --font-base: "Merriweather Sans", sans-serif;

  --color-background: linear-gradient(to top right, #B5E3EE, rgba(140, 211, 228, 0.6));

  --color-lightblue: #B5E3EE;
  --color-darkBlue: #8CD3E4;
  --color-pink: #EEC0B5;
  --color-black: #0c0c0c;
  --color-grey: #212020;
  --color-grey50: rgba(33, 32, 32, 0.5);
  --color-white: #F3EDED;
  --color-green: #6DEB6D;
  --color-red: #FF6B6B;

  --space-1: 1rem;
  --space-05: 0.5rem;
  --space-02: 0.2rem;

  --borderRad-main: 5px;
  --borderRad-big: 10px;

  --boxShadow-general: 0px 0px 20px 1px var(--color-grey50);
}

/*.irish-grover-regular {
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
}

.merriweather-sans {
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
300-800 weight på ovan samt normal-italic*/

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 100vh;
  width: 100vw;
  background: var(--color-background);
  z-index: 0;
}
.main-img {
  position: fixed;
  top: 20%;
  left: 0;
  width: 100%;
  display: grid;
  place-content: center;
  z-index: 0;
  transform-origin: center;
}

.main-img-rotate {
  animation: rotate;
  animation-iteration-count: infinite;
  animation-duration: 12s;
}
.main-img-slumparen {
  animation: slumparen;
  animation-iteration-count: 1;
  animation-duration: 3s;
}

footer {
    background: var(--color-grey50);
    border-top: 1px solid var(--color-black);
    box-shadow: var(--boxShadow-general);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-1);
    height: 20vh;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.squareBtn {
    /*border: 1px solid red;*/
    height: 3rem;
    width: 3rem;
    display: grid;
    place-content: center;
    font-size: x-large;
    background: transparent;
    border: none;
}
.circleBtn {
  border-radius: 50%;
}
.circleBtn-green {
  background: var(--color-green);
}
.circleBtn-red {
  background: var(--color-red);
}


h1, h2, h3, li {
  font-family: var(--font-header);
  font-weight: 400;
  color: var(--color-black);
}
h2 {
  font-size: large;
  overflow-x: hidden;
}
p {
  font-size: 0.8rem;
}

p, h4, h5, .fc .fc-button .fc-event {
  font-family: var(--font-base);
  color: var(--color-black);
}
a {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: underline;
    color: var(--color-black);
}

.background-blur {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 128, 0, 0.185);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.loading {
  position: relative;
  overflow: hidden;
  background: transparent;
  text-align: center;
}
.loading::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    clip-path: inset(0 100% 0 0);
    opacity: 0;
  } 
  20% {
    opacity: 1;
  }
  50% {
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
  100% {
    clip-path: inset(0 0 0 100%);
    opacity: 0;

  }
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slumparen {
  0% {
    transform: rotate(0deg) scale(0.1);
    opacity: 0.1;
  }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 1;
  }
}