* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Globala variabler*/

main {
  display: grid;
  place-content: center;
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  background-color: rgb(230, 230, 127);
}

.squareBtn {
    border: 1px solid red;
    height: 3rem;
    width: 3rem;
    display: grid;
    place-content: center;
    font-size: x-large;
}