.open {
    animation: reveal;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.item-expanded {
    background-color: var(--color-grey50);
    width: 80vw;
    overflow: hidden;
    max-height: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--space-05);
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: var(--borderRad-big);
    box-shadow: var(--boxShadow-general);

    .expanded-main {
        display: grid;
        grid-template-columns: 40% 60%;
        width: 100%;
        background: var(--color-pink);
        padding: var(--space-05);
        border-radius: var(--borderRad-main);
    }
    h5, a, p {
        padding: var(--space-05);
        font-style: italic;
    }
    h5, p {
        align-self: center;
    }
    .expanded-footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        color: var(--color-white);
        background-color: var(--color-grey50);
        border-radius: var(--borderRad-main);

        p, a {
            width: 100%;
            text-decoration: none;
            color: var(--color-white);
            font-weight: 100;
        }
    }
}

@keyframes reveal {
    0% {
        max-height: 0;
    }
    100% {
        max-height: 12rem;
    }
}